#hero_Section {
    background-image: url('../assets/bg1.png');
    background-size: 100% 100%;
    height: calc(100vh - 95px);
}

.navbar {
    transition: all 0.2s ease-in-out;
}

.navbar.scroll {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.floating-btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 9;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 1px 4px grey);
    width: 100px;
    height: 100px;
}

.floating-btn>img {
    animation: rotate 4s infinite;

}

.floating-btn:hover .text img {
    display: block;
    cursor: pointer;
}

.text img {
    position: absolute;
    width: 320px;
    bottom: 70px;
    right: 110px;
    display: none;
    filter: drop-shadow(1px 7px 7px #00000050);
}

#bg-style-carrer {
    background-color: white;
}

.scrollable-content {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;


}

.tabs .nav {
    display: unset;
}

.tabs .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: black;
}

.tabs .nav-pills .nav-link,
.nav-pills .show>.nav-link {
    width: 100%;
    text-align: start;
}

.carrer-img img {
    height: 30px;
    width: 50px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




#task_Genie {
    background-image: url('../assets/bg_header.png');
    /* height: calc(100vh - 105px); */
    background-size: 100% 60vh;
    background-repeat: no-repeat;
}

.task-img img {
    width: 400px;
}

.para {
    max-width: 360px;
    margin: auto;
}

.para p {
    font-size: 17px;
}

.card-text {
    font-size: 16px;
    line-height: 26px;
}

.slider {
    max-width: 500px;
    margin: auto;
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.20);
}

#pricing-section {
    border-radius: 2rem;
}


.card {
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
    border: unset;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
    /* height: 100%; */
}

link:hover {
    color: #808080;
}

.nav-link {
    color: #A1A1AA;
}

/* New Changes Here */
/* Hover EFFECT ON SERVICES BUTTON */
.navbar-nav {
    align-items: center;
}

.navbar-nav .dropdown-menu {
    display: none;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.span-change {
    font-weight: 600;
    color: black;
}

.change-color:hover {
    color: black;
}

.change-para {
    color: #333;
    text-align: justify;
    /* font-size: 18px; */
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}

.heading-redrep {
    color: #000;
    text-align: center;
    /* font-family: Poppins; */
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.change-btn {
    scroll-behavior: smooth;
}

.change-btn:hover {
    color: #000;
}

.card-title {
    padding: 10px;
    font-size: 18px;
}

.change-card11 {
    min-height: 120px;
    max-width: 100%;
    background: #36454F;

}

.change-card11 .card-title {
    color: white;
}

.gap-card:hover {
    margin: 10px;
}

.red-text {
    color: red;
}

.owl-item {
    padding: 10px;
}

.change-btn {
    scroll-behavior: smooth;
}

/* END CHANGES */
.shadow-sm {
    border: 1px solid #A1A1AA;
}

.service_paragraph {

    color: #686868;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}



.text-red {
    color: red;
    display: inline-block;
}


#banner {
    background-color: #212529;
}

.txt h2 {

    border-left: 4px solid white;
    max-width: 621px;
    margin: auto;
    font-size: 39px;
    padding-left: 15px
}

.image_embark img {
    max-width: 700px;
}

.redRep {
    display: flex;
    justify-content: center;
}

.redRep img {
    max-width: 600px;
}

.style span {
    /* box-shadow: 0px 10px 35px 0px rgba(0 0 0 / 10.2%); */
    /* box-shadow: 0px 10px 35px 0px #55555582; */
    border: 1px solid #9e9e9e;
    background-color: white;
    color: red;
    /* font-weight: bold; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 15px 22px; */
    font-size: 1.8rem;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* slider css */
.owl-item>div {
    cursor: pointer;
    /* margin:; */
    transition: margin 0.4s ease;
}

.styling {
    height: 160px;
}

.owl-item.center>div {
    cursor: auto;
    margin: 0;
}

.owl-item:not(.center)>div:hover {
    opacity: .75;
}

.text-slider .card:hover {
    transform: scale(1.1);
}


.text-slider .card {
    margin: 40px 6px;
}





/* Custom CSS */
#footer_bg {
    background-color: #212529;
}

#Style {
    height: 100%;
    /* width: 285px; */

}

.line {
    position: absolute;
    top: 50%;
    z-index: 0;
    height: 2px;
    background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 27px 1px;
    background-repeat: repeat-x;
}

.line-1 {
    width: 50%;
    right: 0;
}

.line-2 {
    width: 100%;
    right: 0;
}

.line-3 {
    width: 50%;
    left: 0;
}

/* Add your styling for cards, carousel, and arrows here */

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

#card_para {
    flex: 0 0 25%;
    /* Display four cards at a time */
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.carousel-arrows {
    display: flex;
}

.arrow {
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
}

.arrow-left {
    margin-right: 10px;
}

.arrow-right {
    margin-left: 10px;
}

.card_image img {
    padding-top: 0.5rem;
    /* max-width: 100px; */
    height: 120px;
}

.btn.btn-dark {
    border: 2px solid black;
}

.btn.btn-dark:hover {
    background-color: white;
    color: black !important;
}

.card-text-hr {
    margin-top: 12px;
}

.styling-services .card {
    height: 0px;
}

.social-icons {
    margin-top: 2rem;
}

.social-icons i:hover {
    background-color: white;
    color: black;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin-right: 0.3rem;
}

.social-icons i {
    font-size: 24px;
    border-radius: 50%;
    border: 1px solid;
    padding: 0.5rem;
    transition: all 0.4s ease-in-out;
}

/* Mobile & Tablet Responsiveness */

@media (max-width: 768px) {
    .text img {
        width: 220px;
        bottom: 70px;
        right: 90px;
    }

    .floating-btn {
        right: 10px;
        bottom: 50%;
        top: 63%;
        width: 90px;
        height: 90px;
        transform: translateY(-50px);
    }

    .floating-btn:hover {
        bottom: 50%;
    }

    #pricing-section {
        border-radius: 1rem;
    }

    #hero_Section {
        height: calc(100vh - 120px);
        background-image: url('../assets/bg1.png');
        background-size: 200% 150%;

    }

    #task_Genie {
        background-image: url('../assets/bg_task.png');
    }

    .services-style {
        text-align: center;
    }

    .services-style h3 {
        font-size: 22px;
    }

    .copyright {
        display: none;
    }

    .copyright_mobile {
        display: block;
    }

    .layer img {
        /* max-width: 344px; */
        object-fit: cover;
        width: 100%;
    }

    h5 {
        font-size: 1.25rem;
    }


    /* Changes in Media Query */

    .span-change {
        font-weight: 500;
        font-size: 7px;
        color: black;
    }


    .image_embark img {
        max-width: 344px;
        object-fit: contain;
        width: 100%;
    }

    .card_image img {
        max-width: 100px;
        height: auto;
    }

    .redRep img {
        max-width: 400px;
        object-fit: contain;
    }

    .card-title {
        font-size: 15px;
        margin: 0;
    }

    .card-text {
        line-height: 20px;
        margin: 0;
        font-size: 14px;
        margin-bottom: 4px;
    }




    .card-text-hr {
        font-size: 12px;
        margin-top: 5px;
    }

    .card_image {
        align-self: center;
        width: 40%;
    }

    .service_paragraph {
        font-size: 16px;
    }

    .txt h2 {
        font-size: 19px;
    }

    .line {
        display: none;
    }

    .redRep img {
        height: auto !important;
    }
}


@media(max-width: 375px) {
    .redRep img {
        max-width: 300px;
        object-fit: contain;
    }

    .line {
        display: none;
    }

    .card_image img {
        height: 90px;
    }

    .card-body {
        font-size: 13px;

    }


    .card-title {
        font-size: 16px;
        font-weight: 600;
    }

    .redRep img {
        height: auto !important;
    }

    .flip-card-back {
        font-size: 11px;
    }




}


@media (max-width: 390px) {

    .small,
    small {
        font-size: 0.7rem;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {

        padding: 4px;
    }

    .redRep img {
        height: 400px;
        width: 100%;
    }

    .gap-2 {
        gap: 0 !important;
    }


}



.hide {
    display: none;
}

@media (max-width: 768px) {

    .hide {
        display: block;
    }

}

@media (max-width: 768px) {
    #Style {
        margin: 11px;
    }

    .card-title {
        text-align: center;
        font-weight: bold !important;
    }

    #remove_padding {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    #remove_padding_bottom {
        padding-bottom: 0px !important;
    }

    #remove {
        padding: 1.6rem !important;
    }

}

.flip-card {
    /* background-color: transparent;
    width: 300px;
    height: 200px; */
    perspective: 1000px;
    border: unset;
    height: 145px;
}

.flip-card-inner {
    border-radius: 25px;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-back {
    color: white;
    background: #212529;
    padding: 1rem;
}

.flip-card-front {
    background: white;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    border-radius: 20px;
}

.flip-card-front {
    /* background-color: #bbb; */
    color: black;
}

.flip-card-back {

    transform: rotateY(180deg);
    font-size: 12px;
    /* box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06); */
    border-radius: 25px
}
